@font-face {
  font-family: "GT America Trial";
  font-weight: 900;
  src: local("GT America Trial Expanded"),
    url("../fonts/GT-America-Expanded-Black.woff2") format("woff2")
}

@font-face {
  font-family: "GT America Trial";
  font-weight: 700;
  src: local("GT America Trial Expanded"),
    url("../fonts/GT-America-Expanded-Bold.woff2") format("woff2")
}

@font-face {
  font-family: "GT America Trial";
  font-weight: 500;
  src: local("GT America Trial Extended"),
    url("../fonts/GT-America-Extended-Medium.woff2") format("woff2")
}

@font-face {
  font-family: "GT America Trial";
  font-weight: 400;
  src: local("GT America Trial Extended"),
    url("../fonts/GT-America-Extended-Regular.woff2") format("woff2")
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}