h1 {
  font-family: 'GT Flexa Trial', sans-serif;
  font-weight: 900;
  font-size: 3.8em;
  line-height: 1em;
}

h1#lucky-duck {
  font-size: 6em;
  margin-top: 0.2em;
}

h3 {
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 0;
}

div.section {
  margin-top: 4em;
}

a.footer-link,
a.footer-link:visited {
  color: white;
  margin-right: 32px;
}

@media (max-width: 720px) {
  h1 {
    font-size: 2.8em;
  }

  h1#lucky-duck {
    font-size: 3.4em;
  }

  h3 {
    margin-top: 0.4em;
    font-size: 1.4em;
  }

  div.section {
    margin-top: 2em;
  }

  div.phantom {
    height: 4em;
  }
}
