h1 {
  font-family: 'GT Flexa Trial', sans-serif;
  font-weight: 900;
  font-size: 3.8em;
  line-height: 1em;
}

div.section {
  margin-top: 4em;
}

@media (max-width: 720px) {
  h1 {
    font-size: 2.8em;
  }

  div.section {
    margin-top: 2em;
  }

  div.phantom {
    height: 4em;
  }
}
