@font-face {
  font-family: "GT Flexa Trial";
  font-weight: 700;
  src: local("GT Flexa Trial Expanded"),
    url("./fonts/GT-Flexa-Expanded-Bold-Trial.woff2") format("woff2")
}

@font-face {
  font-family: "GT Flexa Trial";
  font-weight: 900;
  src: local("GT Flexa Trial Expanded"),
    url("./fonts/GT-Flexa-Expanded-Black-Trial.woff2") format("woff2")
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1 {
  font-family: "GT Flexa Trial", sans-serif;
  font-weight: 900;
  font-size: 3.6em;
  line-height: 1em;
}

h1#lucky-duck {
  font-size: 6em;
  margin: 0;
}

h3 {
  font-size: 1.6em;
  font-weight: 400;
}

p {
  font-size: 1.2em;
}

ul {
  margin-bottom: 3em;
  list-style: none;
}

li {
  text-indent: -1.7em;
  font-size: 1.2em;
}

li::before {
  content: "🌱 ";
}

div.section {
  margin-top: 4em;
}

div.lucky-duck {
  margin-bottom: 10em;
}

@media(max-width: 720px) {
  h1 {
    font-size: 3em;
  }
}